[Desktop Entry]
Name=Input method
Name[am]=የማስገቢያ ዘዴ
Name[ar]=أسلوب الإدخال
Name[be]=Метад уводу
Name[bg]=Метод за въвеждане
Name[ca]=Mètode d'entrada
Name[ca@valencia]=Mètode d'entrada
Name[cs]=Metoda zadávání znaků
Name[cy]=Dull mewnbwn
Name[da]=Indtastningsmetode
Name[de]=Eingabemethode
Name[el]=Μέθοδος εισόδου
Name[eo]=Eniga metodo
Name[es]=Método de entrada
Name[et]=Sisestusmeetod
Name[eu]=Sarrera-metodoa
Name[fi]=Syöttötapa
Name[fr]=Méthode de saisie
Name[fr_CA]=Méthode de saisie
Name[frp]=Mètoda d’entrâ
Name[fy]=Ynfiermetoade
Name[gd]=Dòigh ion-chuir
Name[gl]=Método de entrada
Name[he]=שיטת קלט
Name[hi]=इनपुट विधि
Name[hr]=Način unosa
Name[hu]=Beviteli mód
Name[ia]=Methodo de input
Name[id]=Metode Input
Name[ie]=Metode de intrada
Name[is]=Inntaksaðferð
Name[it]=Metodo di immissione
Name[ja]=入力方法
Name[kab]=Tarrayt n usekcem
Name[kk]=Енгізу әдісі
Name[ko]=한글 입력
Name[ku]=Şêweyê têketinê
Name[lo]=ທາງເລືອກການໃສ່ຂໍ້ມູນ
Name[lt]=Įvesties metodas
Name[lv]=Ievades metode
Name[mr]=इनपुट पद्धत
Name[ms]=Kaedah input
Name[nap]=Metodo d'immissione
Name[nb]=Inndatametode
Name[nds]=Eingabemethode
Name[ne]=प्रविष्टि हुने तरिका
Name[nl]=Invoermethode
Name[oc]=Metòde de sasida
Name[pap]=Metodo di yena
Name[pl]=Sposób wprowadzania tekstu
Name[pt]=Método de introdução
Name[pt_BR]=Método de entrada
Name[ro]=Metodă de introducere
Name[ru]=Способ ввода
Name[sc]=Mètodu de mintidura
Name[sk]=Metóda vstupu
Name[sl]=Način vnosa
Name[sr]=Начин уноса
Name[sr@latin]=Način unosa
Name[sv]=Inmatningsmetod
Name[ta]=உள்ளீட்டு முறை
Name[th]=วิธีการป้อนข้อมูล
Name[tr]=Giriş yöntemi
Name[tt]=Кертү ысулы
Name[uk]=Метод введення
Name[ur]=لکھنے کی طرز
Name[uz]=Киритиш усули
Name[vi]=Phương thức nhập
Name[zh_CN]=输入法
Name[zh_HK]=輸入法
Name[zh_TW]=輸入法
Comment=Language settings
Comment[am]=ቋንቋ ማሰናጃዎች
Comment[ar]=إعدادات اللغة
Comment[az]=Dil tәnzimlәmәlәri
Comment[be]=Настáўленні мовы
Comment[bg]=Езикови настройки
Comment[bs]=Jezičke postavke
Comment[ca]=Ajusts de l'idioma
Comment[ca@valencia]=Configuració d'idioma
Comment[cs]=Jazyková nastavení
Comment[cy]=Gosodiadau iaith
Comment[da]=Sprogindstillinger
Comment[de]=Spracheinstellungen
Comment[el]=Ρυθμίσεις γλώσσας
Comment[eo]=Lingvaj agordoj
Comment[es]=Configuración del idioma
Comment[et]=Keele seaded
Comment[eu]=Hizkuntzaren ezarpenak
Comment[fi]=Kieliasetukset
Comment[fr]=Paramètres de langue
Comment[fr_CA]=Paramètres de langue
Comment[frp]=Configuracions de lèngua
Comment[fy]=Taalynstellingen
Comment[gd]=Roghainnean cànain
Comment[gl]=Axustes do idioma
Comment[he]=הגדרות שפה
Comment[hi]=भाषीय सेटिंग्स
Comment[hr]=Postavke jezika
Comment[hu]=Nyelvi beállítások
Comment[ia]=Configurationes del lingua
Comment[id]=Pengaturan bahasa
Comment[ie]=Parametres de lingue
Comment[is]=Tungumálastillingar
Comment[it]=Impostazioni lingua
Comment[ja]=言語の設定
Comment[kab]=Iɣewwaṛen n tutlayt
Comment[kk]=Тіл баптаулары
Comment[km]=ការ​កំណត់​ភាសា
Comment[ko]=언어 설정
Comment[ku]=Mîhengên ziman
Comment[lo]=ຕັ້ງຄ່າພາສາ
Comment[lt]=Kalbos nustatymai
Comment[lv]=Valodas iestatījumi
Comment[ml]=ഭാഷ ക്രമീകരണങ്ങൾ
Comment[mr]=भाषा संयोजना
Comment[ms]=Tetapan bahasa
Comment[nap]=Settaggi d''a lengua
Comment[nb]=Språkinnstillinger
Comment[nds]=Spracheinstellungen
Comment[ne]=भाषा सेटिंग्स !
Comment[nl]=Taalinstellingen
Comment[oc]=Paramètres de lenga
Comment[pap]=Opshonnan pa e idioma
Comment[pl]=Ustawienia języka
Comment[pt]=Definições de idioma
Comment[pt_BR]=Configurações de idioma
Comment[ro]=Setări limbă
Comment[ru]=Настройки языка
Comment[sc]=Sèberos de sa limba
Comment[sk]=Nastavenia jazyka
Comment[sl]=Nastavitve jezika
Comment[sq]=Rregullimet për gjuhën
Comment[sr]=Подешавања језика
Comment[sr@latin]=Postavke jezika
Comment[sv]=Språkinställningar
Comment[ta]=மொழி அமைப்புகள்
Comment[tg]=Танзимоти забон
Comment[th]=การตั้งค่าภาษา
Comment[tr]=Dil ayarları
Comment[tt]=Тел көйләүләре
Comment[uk]=Налаштування мови
Comment[ur]=زبان کی ترتیبات
Comment[uz]=Тил созламалари
Comment[vi]=Thiết lập ngôn ngữ
Comment[zh_CN]=语言设置
Comment[zh_HK]=語言設定
Comment[zh_TW]=語言設定
Exec=mintlocale-im
Icon=mintlocale-im
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=false
