[Desktop Entry]
Name=Languages
Name[am]=ቋንቋዎች
Name[be]=Мовы
Name[be@latin]=Мовы
Name[bg]=Езици
Name[ca]=Idiomes
Name[ca@valencia]=Idiomes
Name[cs]=Jazyky
Name[cy]=Ieithoedd
Name[da]=Sprog
Name[de]=Sprachen
Name[el]=Γλώσσες
Name[es]=Idiomas
Name[es_AR]=Idiomas
Name[et]=Keeled
Name[eu]=Hizkuntzak
Name[fi]=Kielet
Name[fr]=Langues
Name[fr_CA]=Langues
Name[he]=שפות
Name[hr]=Jezici
Name[hu]=Nyelvek
Name[id]=Bahasa
Name[is]=Tungumál
Name[it]=Lingue
Name[ka]=ენები
Name[lt]=Kalbos
Name[ml]=ഭാഷകള്‍
Name[ms]=Bahasa
Name[nds]=Sprachen
Name[ne]=भाषाहरु
Name[nl]=Talen
Name[pl]=Języki
Name[pt]=Idiomas
Name[pt_BR]=Idiomas
Name[pt_PT]=Idiomas
Name[ro]=Limbi
Name[ru]=Языки
Name[sk]=Jazyky
Name[sl]=Jeziki
Name[sq]=Gjuhët
Name[sv]=Språk
Name[ta]=மொழிகள்
Name[tg]=Забонҳо
Name[th]=ภาษา
Name[tr]=Diller
Name[uk]=Мови
Name[vi]=Ngôn ngữ
Name[zh_TW]=語言
Comment=Language settings
Comment[am]=ቋንቋ ማሰናጃዎች
Comment[be]=Настáўленні мовы
Comment[be@latin]=Настáўленні мовы
Comment[bg]=Езикови настройки
Comment[ca]=Configuració d'idioma
Comment[ca@valencia]=Configuració d'idioma
Comment[cs]=Nastavení jazyka
Comment[cy]=Gosodiadau iaith
Comment[da]=Sprogindstillinger
Comment[de]=Spracheinstellungen
Comment[el]=Ρυθμίσεις γλώσσας
Comment[es]=Configuración de idioma
Comment[es_AR]=Configuración de idioma
Comment[et]=Keele seaded
Comment[eu]=Hizkuntzaren ezarpenak
Comment[fi]=Kieliasetukset
Comment[fr]=Paramètres de langue
Comment[fr_CA]=Paramètres de langue
Comment[he]=הגדרות שפה
Comment[hr]=Postavke jezika
Comment[hu]=Nyelvi beállítások
Comment[id]=Pengaturan bahasa
Comment[is]=Tungumálastillingar
Comment[it]=Impostazioni lingua
Comment[lt]=Kalbos nustatymai
Comment[ml]=ഭാഷ ക്രമീകരണങ്ങൾ
Comment[ms]=Tetapan bahasa
Comment[nds]=Spracheinstellungen
Comment[ne]=भाषा सेटिंग्स !
Comment[nl]=Taalinstellingen
Comment[pl]=Ustawienia języka
Comment[pt]=Definições de idioma
Comment[pt_BR]=Configurações de idioma
Comment[pt_PT]=Definições de idioma
Comment[ro]=Configurare limbă
Comment[ru]=Языковые настройки
Comment[sk]=Nastavenia jazyka
Comment[sl]=Nastavitve jezika
Comment[sq]=Rregullimet për gjuhën
Comment[sv]=Språkinställningar
Comment[ta]=மொழி அமைப்புகள்
Comment[tg]=Танзимоти забон
Comment[th]=การตั้งค่าภาษา
Comment[tr]=Dil ayarları
Comment[uk]=Налаштування мови
Comment[vi]=Thiết đặt ngôn ngữ
Comment[zh_TW]=語言設定
Exec=mintlocale
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
