LANG="$locale"
LANGUAGE="$info:$language"
LC_NUMERIC="$locale"
LC_TIME="$locale"
LC_MONETARY="$locale"
LC_PAPER="$locale"
LC_IDENTIFICATION="$locale"
LC_NAME="$locale"
LC_ADDRESS="$locale"
LC_TELEPHONE="$locale"
LC_MEASUREMENT="$locale"
