<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Linux Mint</vendor>
  <vendor_url>https://linuxmint.com/</vendor_url>

  <action id="com.linuxmint.mintlocale.add-remove">
    <icon_name>preferences-desktop-locale</icon_name>
<message>Languages</message>
<message xml:lang="am">ቋንቋዎች</message>
<message xml:lang="ar">اللغات</message>
<message xml:lang="az">Dillər</message>
<message xml:lang="be">Мовы</message>
<message xml:lang="bg">Езици</message>
<message xml:lang="bs">Jezici</message>
<message xml:lang="ca">Idiomes</message>
<message xml:lang="ca@valencia">Idiomes</message>
<message xml:lang="cs">Jazyky</message>
<message xml:lang="cy">Ieithoedd</message>
<message xml:lang="da">Sprog</message>
<message xml:lang="de">Sprachen</message>
<message xml:lang="el">Γλώσσες</message>
<message xml:lang="es">Idiomas</message>
<message xml:lang="et">Keeled</message>
<message xml:lang="eu">Hizkuntzak</message>
<message xml:lang="fi">Kielet</message>
<message xml:lang="fr">Langues</message>
<message xml:lang="fr_CA">Langues</message>
<message xml:lang="frp">Lèngües</message>
<message xml:lang="fy">Talen</message>
<message xml:lang="gd">Cànain</message>
<message xml:lang="gl">Idiomas</message>
<message xml:lang="he">שפות</message>
<message xml:lang="hi">भाषाएँ</message>
<message xml:lang="hr">Jezici</message>
<message xml:lang="hu">Nyelvek</message>
<message xml:lang="ia">Linguas</message>
<message xml:lang="id">Bahasa</message>
<message xml:lang="is">Tungumál</message>
<message xml:lang="it">Lingue</message>
<message xml:lang="ja">言語</message>
<message xml:lang="ka">ენები</message>
<message xml:lang="kab">Tutlayin</message>
<message xml:lang="kk">Тілдер</message>
<message xml:lang="km">ភាសា</message>
<message xml:lang="ko">언어</message>
<message xml:lang="ku">Ziman</message>
<message xml:lang="lo">ພາສາ</message>
<message xml:lang="lt">Kalbos</message>
<message xml:lang="lv">Valodas</message>
<message xml:lang="ml">ഭാഷകള്‍</message>
<message xml:lang="mr">भाषा</message>
<message xml:lang="ms">Bahasa</message>
<message xml:lang="nap">Lengue</message>
<message xml:lang="nb">Språk</message>
<message xml:lang="nds">Sprachen</message>
<message xml:lang="ne">भाषाहरु</message>
<message xml:lang="nl">Talen</message>
<message xml:lang="oc">Lengas</message>
<message xml:lang="pap">Idiomanan</message>
<message xml:lang="pl">Języki</message>
<message xml:lang="pt">Idiomas</message>
<message xml:lang="pt_BR">Idiomas</message>
<message xml:lang="pt_PT">Idiomas</message>
<message xml:lang="ro">Limbi</message>
<message xml:lang="ru">Языки</message>
<message xml:lang="sc">Limbas</message>
<message xml:lang="sk">Jazyky</message>
<message xml:lang="sl">Jeziki</message>
<message xml:lang="sq">Gjuhët</message>
<message xml:lang="sr">Језици</message>
<message xml:lang="sr@latin">Jezici</message>
<message xml:lang="sv">Språk</message>
<message xml:lang="ta">மொழிகள்</message>
<message xml:lang="tg">Забонҳо</message>
<message xml:lang="th">ภาษา</message>
<message xml:lang="tr">Diller</message>
<message xml:lang="tt">Телләр</message>
<message xml:lang="uk">Мови</message>
<message xml:lang="ur">زبانیں</message>
<message xml:lang="uz">Тиллар</message>
<message xml:lang="vi">Ngôn ngữ</message>
<message xml:lang="zh_CN">语言</message>
<message xml:lang="zh_HK">語言</message>
<message xml:lang="zh_TW">語言</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/add-remove-locales</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

    <action id="com.linuxmint.mintlocale.set-locale">
    <icon_name>preferences-desktop-locale</icon_name>
<message>Languages</message>
<message xml:lang="am">ቋንቋዎች</message>
<message xml:lang="ar">اللغات</message>
<message xml:lang="az">Dillər</message>
<message xml:lang="be">Мовы</message>
<message xml:lang="bg">Езици</message>
<message xml:lang="bs">Jezici</message>
<message xml:lang="ca">Idiomes</message>
<message xml:lang="ca@valencia">Idiomes</message>
<message xml:lang="cs">Jazyky</message>
<message xml:lang="cy">Ieithoedd</message>
<message xml:lang="da">Sprog</message>
<message xml:lang="de">Sprachen</message>
<message xml:lang="el">Γλώσσες</message>
<message xml:lang="es">Idiomas</message>
<message xml:lang="et">Keeled</message>
<message xml:lang="eu">Hizkuntzak</message>
<message xml:lang="fi">Kielet</message>
<message xml:lang="fr">Langues</message>
<message xml:lang="fr_CA">Langues</message>
<message xml:lang="frp">Lèngües</message>
<message xml:lang="fy">Talen</message>
<message xml:lang="gd">Cànain</message>
<message xml:lang="gl">Idiomas</message>
<message xml:lang="he">שפות</message>
<message xml:lang="hi">भाषाएँ</message>
<message xml:lang="hr">Jezici</message>
<message xml:lang="hu">Nyelvek</message>
<message xml:lang="ia">Linguas</message>
<message xml:lang="id">Bahasa</message>
<message xml:lang="is">Tungumál</message>
<message xml:lang="it">Lingue</message>
<message xml:lang="ja">言語</message>
<message xml:lang="ka">ენები</message>
<message xml:lang="kab">Tutlayin</message>
<message xml:lang="kk">Тілдер</message>
<message xml:lang="km">ភាសា</message>
<message xml:lang="ko">언어</message>
<message xml:lang="ku">Ziman</message>
<message xml:lang="lo">ພາສາ</message>
<message xml:lang="lt">Kalbos</message>
<message xml:lang="lv">Valodas</message>
<message xml:lang="ml">ഭാഷകള്‍</message>
<message xml:lang="mr">भाषा</message>
<message xml:lang="ms">Bahasa</message>
<message xml:lang="nap">Lengue</message>
<message xml:lang="nb">Språk</message>
<message xml:lang="nds">Sprachen</message>
<message xml:lang="ne">भाषाहरु</message>
<message xml:lang="nl">Talen</message>
<message xml:lang="oc">Lengas</message>
<message xml:lang="pap">Idiomanan</message>
<message xml:lang="pl">Języki</message>
<message xml:lang="pt">Idiomas</message>
<message xml:lang="pt_BR">Idiomas</message>
<message xml:lang="pt_PT">Idiomas</message>
<message xml:lang="ro">Limbi</message>
<message xml:lang="ru">Языки</message>
<message xml:lang="sc">Limbas</message>
<message xml:lang="sk">Jazyky</message>
<message xml:lang="sl">Jeziki</message>
<message xml:lang="sq">Gjuhët</message>
<message xml:lang="sr">Језици</message>
<message xml:lang="sr@latin">Jezici</message>
<message xml:lang="sv">Språk</message>
<message xml:lang="ta">மொழிகள்</message>
<message xml:lang="tg">Забонҳо</message>
<message xml:lang="th">ภาษา</message>
<message xml:lang="tr">Diller</message>
<message xml:lang="tt">Телләр</message>
<message xml:lang="uk">Мови</message>
<message xml:lang="ur">زبانیں</message>
<message xml:lang="uz">Тиллар</message>
<message xml:lang="vi">Ngôn ngữ</message>
<message xml:lang="zh_CN">语言</message>
<message xml:lang="zh_HK">語言</message>
<message xml:lang="zh_TW">語言</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/set-default-locale</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>

</policyconfig>
